header {
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week1/hero.png?raw=true);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 151px;
    padding-bottom: 151px;
    h1 {
        text-align: center;
        padding-bottom: 16px;
    }
    p {
        font-weight: 700;
        font-size: 28px;
        line-height: 120%;
        color: #fff;
        text-align: center;
    }
}